[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
ipython = "*"
django-heroku = "*"
daphne = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
